@font-face {
    font-family:'tng';
    src: url('../font/tngmonitors.eot');
    src: url('../font/tngmonitors.eot?#iefix') format('embedded-opentype'),
         url('../font/tngmonitors.woff') format('woff'),
         url('../font/tngmonitors.ttf') format('truetype'),
         url('../font/tngmonitors.svg#tngmonitors') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	height:100%;
	overflow:hidden;
}

body{
	padding:40px;
	margin:0;
	background-color:#000;
	font-family:'tng', Arial;
	height:100%;
	position:relative;
	cursor:default;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
}

a{
	text-decoration: none;
	color:inherit;
}

#content{
	position: absolute;
	top: 0;
	left: 0;
	margin:40px 40px 40px 200px;
	min-width: 700px;
}

#top-section{
	margin-bottom:7px;
	height: 199px;
}

#top-section-content{
	color:#f8fbdb;
	height: 181px;
	min-width: 800px;
}

#bottom-section-content{
	margin-top: 65px;
	color:#fe9800;
}

#top-section-content h1{
	margin-top:-10px;
	margin:0;
	color:#fe9800;
	font-size:54px;
}

#profile{
	float: left;
}

#profile-buttons{
	float: left;
	width: 550px;
	margin: 7px 0 0 24px;
	height: 169px;
}

#profile-buttons a{
	width: 129px;
	display: block;
	background-color: #9B98FE;
	border-radius: 10px;
	padding: 8px;
	text-align: center;
	margin: 0 8px 10px 0;
	float: left;
	color:#000;
}

#profile-buttons a:active{
	background-color: #8B88EE;
}

#profile-buttons a.button-2{
	background-color:#ffa873;
}

#profile-buttons a.button-2:active{
	background-color:#Ef9863;
}

#profile-buttons a.button-3{
	background-color:#fe9800;
}

#profile-buttons a.button-3:active{
	background-color:#ee8810;
}

.under-profile-buttons{
	clear:both;
}

.under-profile-buttons-source{
	display: none;
}

.under-profile-buttons > div,
.under-profile-buttons-source > div{
	float:left;
	text-align:right;
	padding: 2px 0;
	color:#FE9800;
}

#top-section-content h1 div{
	font-size:18px;
}

#service-record{
	width: 210px;
	font-size: 13px;
	margin-top: 10px;
	font-family: Arial;
	margin-left: -4px;
}

#service-record tr td:first-child{
	color:#fe9800;
}

#panel-top-square-1{
	width: 128px;
	height: 82px;
	background-color: #C498C4;
	margin-left: 2px;
	margin-bottom: 4px;
	padding: 53px 10px 0 0;
	text-align:right;
	font-size:17px;
}

#panel-top-square-1:active{
	background-color:#B488B4;
}

#panel-top{
	background-image:url(../img/panel-top.png);
	width: 461px;
	height: 113px;
	background-color:#9b98fe;
	text-align: right;
	padding:6px 341px 0 0;
	font-size:17px;
}

#panel-top:active{
	background-color:#8B88EE;
}

#top-section .panel-long{
	margin-top:-16px;
}

.panel-long{
	margin-left: 462px;
}

.panel-long-inner{
	width: 100%;
	position:relative;
	overflow:visible!important;
}

.panel-long-inner div{
	float:left;
	height:16px;
	border-left: 6px solid #000;
}

.panel-long-1{
	width:5%;
	background-color:#fe9800;
}

.panel-long-2{
	width:30%;
	background-color:#c498c4;
}

.panel-long-3{
	width:50%;
	background-color:#c498c4;
}

.panel-long-4{
	width:15%;
	background-color:#cc6061;
}

#bottom-section .panel-long-1{
	background-color:#feb880;
}

#bottom-section .panel-long-2{
	background-color:#feb880;
	height:7px;
}

#bottom-section .panel-long-4{
	background-color:#fe9800;
}

#panel-bottom{
	background-image: url(../img/panel-bottom.png);
	background-color: #CC6061;
	width: 461px;
	height: 113px;
	padding: 85px 338px 0 0;
	text-align: right;
}

#panel-bottom:active,
#panel-bottom-square-1:active{
	background-color:#BC5051;
}

#panel-bottom-square-1{
	width: 128px;
	height: 20%;
	background-color: #cc6061;
	margin-left: 2px;
	margin-top: 6px;
	text-align:right;
	padding: 5px 6px 0 0;
}

#panel-bottom-square-2{
	width: 128px;
	height: 5%;
	background-color: #fe9800;
	margin-left: 2px;
	margin-top: 5px;
}

#panel-bottom-square-2:active{
	background-color:#EE8810;
}

#panel-bottom-square-3{
	width: 128px;
	height: 75%;
	background-color: #ffa873;
	margin-left: 2px;
	margin-top: 5px;
	text-align:right;
	padding:5px 6px 0 0;
}

#panel-bottom-square-3:active{
	background-color:#EF9863;
}

.jspDrag{
	background-color:#ab75ab;
	border-radius:20px;
}

.jspTrack,
.jspVerticalBar{
	background-color:transparent;
	cursor:pointer;
}

.jspTrack{
	background-image:url(../img/scroll-bar.png);
	background-repeat:repeat-y;
	background-position:center;
}

#federation{
	width: 668px;
	height: 400px;
	background-image:url(../img/federation.jpg);
	margin:auto;
}

#top-number-display{
	margin-left: 790px;
	height: 180px;
}

.under-profile-buttons > div.highlighted{
	color:#F8FBDB;
}
